<p>Vous avez reçu une demande de brochure :</p>

<p>
  <strong>Nom :</strong> <%= @name %> <br>
  <strong>Email :</strong> <%= @contact_email %> <br>
  <strong>Numéro de téléphone :</strong> <%= @phone %>
</p>