<div class="relative bg-cover md:bg-fixed bg-center mb-[60px] md:mx-10 h-[30vh] md:h-[45vh] bg-white">
  <div class="absolute inset-0 "></div>
  <div data-controller="fade-scroll" class="absolute inset-0 flex flex-col justify-center items-center text-center px-4 opacity-0 translate-y-4 transition-all duration-[1500ms]">
  <%= link_to "https://aedge-partners.com/en", target: "_blank", rel: "noopener"  do %>
    <%= image_tag "logo-aedge.svg",
        alt: "Logo Aedge",
        class: "w-[225px] md:w-[300px] z-30" %>
  <% end %>
  </div>
</div>
<div class="flex flex-col justify-center pb-8 items-start text-justify mx-4 md:mx-48">
  <h1 data-controller="fade-scroll" class="text-main opacity-0 translate-y-4 transition-all duration-[1500ms] text-left">
    Notre philosophie: Redéfinir l'excellence
  </h1><br>
  <h2 data-controller="fade-scroll" class="opacity-0 translate-y-4 transition-all duration-[1500ms] mt-2 md:mt-0">
    À travers Casa Beyt, AEDGE Partners réaffirme sa mission de <span class="font-bold">valoriser des lieux d’exception</span> en préservant l’histoire et l’identité des quartiers.
    En tant que développeur et opérateur urbain, nous faisons de chaque projet une expression de notre engagement envers l’excellence. <br><br>
    Notre savoir-faire et notre expertise sont constamment mis en œuvre afin de satisfaire nos clients et leur offrir des lieux de vie pluriels et harmonieux, conçus pour répondre à la diversité de leurs usages.
  </h2>
  <br>


  <h2 data-controller="fade-scroll" class="text-main font-montserrat italic text-justify opacity-0 translate-y-4 transition-all duration-[1500ms]">
    Aedge Partners, développeur immobilier reconnu, conçoit des projets durables qui
    conjuguent innovation et qualité architecturale. Chacun de nos programmes reflète une
    passion : créer des lieux de vie singuliers et porteurs de valeur.
  </h2>
  <br>

  <h2 data-controller="fade-scroll" class="text-main opacity-0 translate-y-4 transition-all duration-[1500ms]" >
    De la conception à la réalisation, chaque projet que nous développons est une expression de notre engagement envers l'excellence.Parce que la qualité de vie au quotidien est essentielle, contribuer au bien- être et à l'harmonie collective est au cœur de notre mission en tant que développeur et opérateur urbain. <br><br>
    A chaque étape de nos process, notre savoir-faire et notre expertise sont constamment mis en œuvre afin de satisfaire nos clients et construire avec eux une relation durable et de proximité, basée sur des promesses tenues et des réponses adaptées à leurs besoins <%=  link_to "www. aedge-partners.com", "https://aedge-partners.com/en", target: "_blank", rel: "noopener" %>
  </h2>
</div>