<div class="bg-white md:mx-48 -mb-6 h-20 relative hidden md:block"></div>
<div class="px-4 md:px-24 py-2 bg-perse text-white font-chaparral md:mx-10">
  <div class="flex flex-col md:flex-row items-center justify-between py-12">
    <div class="md:border-white md:h-full md:pr-8">
      <%= image_tag "logo-white.svg", alt: "logo Botanik Garden", class: "w-[250px] md:w-[305px]"%>
    </div>
    <div class="flex flex-col justify-center items-center md:items-center mt-4 md:mt-0 md:pl-8 md:border-white md:border-l-[1px]">
      <p class="text-white text-center md:text-center text-lg leading-8">
        BOTANIK GARDEN <br>
        Route d'Amezmiz, 5264 <br>
        Marrakech
      </p>
      <div class="flex justify-center items-center py-2">
        <%= image_tag "icn-insta.svg", alt: "logo instagram", class: "w-[30px]" %>
        <%= image_tag "icn-whatsapp.svg", alt: "logo whatsapp", class:"ml-2 w-[30px]" %>
      </div>
      <p class="text-white text-center md:text-center text-lg leading-8">
        +212 (0) 6 34 5678 0 <br>
        contact@botanikgarden.com
      </p>
    </div>
  </div>
</div> 
<div class="py-2 flex flex-col md:flex-row justify-center items-center bg-white px-4 md:px-8 text-main mx-10">
  <p class="text-perse font-montserrat text-end text-sm md:text-sm">
    © <%= Time.now.year %> Aedge Partners
  </p>
  <p class="text-perse font-montserrat text-end text-sm md:text-sm px-4 mx-4 border-x-[1px] border-perse">
    Mentions légales
  </p>
  <p class="text-perse font-montserrat text-end text-sm md:text-sm">
    Designed & developped by KOUN
  </p>
</div>